<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
     <title>TCC</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <p class="lead">
           Navegue pelo nossos serviços
        </p>
    </div>

    <div class="row">
    	<div class="col-md-6">
    		<h3>Conheça os Smartphones disponiveis</h3>
            <p>
                Veja os Smartphones.
            </p>
            <p>
                <a class="btn btn-success" href="/smartPhone/listar">SmartPhones</a>
            </p>
        </div>
        
        <div class="col-md-6">
            
        </div>
       </div>
        
        <div class="col-md-6">
            
        </div>
        
        <div class="col-md-6">
            
        </div>
        
        <div class="col-md-6">
            
        </div>
    </div>
       
    </div>
    <hr/>
   
</div>
</body>
</html>